<img src="/assets/recipe-icon.jpg" class="recipe-icon">
<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage Recipe
<span class="caret"></span></button>
<ul class="dropdown-menu">
    <li><a (click)="addToShopping(recipeItem.id)">add to Shopping list</a></li>
    <li><a [routerLink]="['edit']" >Edit Recipe</a></li>
    <li><a (click)="deleteRecipe(recipeItem.id)" >Delete Recipe</a></li>
</ul>
</div>
<p>Recipe Id : {{recipeItem.id}}</p>
<hr/>
<p>Recipe Name : {{recipeItem.name}}</p>
<hr/>
<p>Recipe Ingredient : {{recipeItem.ingredients}}</p>
<hr/>
<p>Recipe Description : {{recipeItem.description}}</p>
<hr/>