
<div class="topnav" id="myTopnav">
  <a [routerLink]="['/recipe-book']" routerLinkActive="active">Recipe Books</a>
  <a [routerLink]="['/shopping-list']" routerLinkActive="active">Shopping List</a>
  <a [routerLink]="['/recipe']"  routerLinkActive="active">Recipes</a>
  <a >Contact</a>
  <a >About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
