<div [class]="row">
  <div class="col-xs-12"><button class="btn btn-primary">Add Recipe</button></div>
  <div class="col-xs-12 col-sm-6">
    <app-recipe-list></app-recipe-list><!--(sendRecipeData)='getRecipeSelected($event)'-->
</div>
<div class="col-xs-12 col-sm-6">
  <router-outlet></router-outlet>
  <!-- <app-recipe-detail *ngIf="selectedRecipe; else infoText" [sendRecipeDetails]="recipeObj"></app-recipe-detail>
  <ng-template #infoText>
    <p>Please select recipe from the list</p></ng-template> -->
</div>