<ul class="recipe-list">
  <li *ngFor="let recipe of recipes">
    <app-recipes-item [recipeItem]="recipe" ></app-recipes-item><!--[recipeItem]="recipe"  (sendRecipeDataId)="getRecipeDataId($event)"-->
  </li>
</ul>